src/main/mule/implementation/document/workflow-initiation-flow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xsi:schemaLocation="
		http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
		http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
		http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
		http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">

	<!-- ============================================== -->
	<!-- WORKFLOW INITIATION FLOW                      -->
	<!-- Starts approval workflows in external system  -->
	<!-- ============================================== -->

	<flow name="workflow-initiation-flow" doc:name="Workflow Initiation Flow">
		
		<!-- Store Original Request -->
		<set-variable variableName="workflowRequest" value="#[payload]" doc:name="Store Workflow Request"/>

		<!-- Validate Request -->
		<flow-ref name="validate-workflow-request-subflow" doc:name="Validate Request"/>

		<!-- Extract Request Data -->
		<ee:transform doc:name="Extract Request Data">
			<ee:variables>
				<ee:set-variable variableName="workflowType"><![CDATA[%dw 2.0
output application/java
---
vars.workflowRequest.workflowType]]></ee:set-variable>
				<ee:set-variable variableName="referenceId"><![CDATA[%dw 2.0
output application/java
---
vars.workflowRequest.referenceId]]></ee:set-variable>
				<ee:set-variable variableName="priority"><![CDATA[%dw 2.0
output application/java
---
vars.workflowRequest.priority default "MEDIUM"]]></ee:set-variable>
				<ee:set-variable variableName="assignedRole"><![CDATA[%dw 2.0
output application/java
---
vars.workflowRequest.assignedRole default "ADJUSTER"]]></ee:set-variable>
			</ee:variables>
		</ee:transform>

		<!-- Generate Workflow ID -->
		<ee:transform doc:name="Generate Workflow ID">
			<ee:variables>
				<ee:set-variable variableName="workflowId"><![CDATA[%dw 2.0
output application/java
---
"WF-" ++ (uuid() splitBy "-")[0]]]></ee:set-variable>
			</ee:variables>
		</ee:transform>

		<!-- Log Business Event -->
		<set-variable variableName="eventType" value="WORKFLOW_INITIATED" doc:name="Set Event Type"/>
		<set-variable variableName="eventDetails" value='#[{"workflowId": vars.workflowId, "workflowType": vars.workflowType, "referenceId": vars.referenceId}]' doc:name="Set Event Details"/>
		<flow-ref name="log-business-event-subflow" doc:name="Log Business Event"/>

		<!-- Create Workflow in External System -->
		<flow-ref name="create-external-workflow-subflow" doc:name="Create External Workflow"/>

		<!-- Store Workflow State -->
		<flow-ref name="store-workflow-state-subflow" doc:name="Store Workflow State"/>

		<!-- Update Salesforce with Workflow Record -->
		<flow-ref name="sf-create-workflow-record-subflow" doc:name="Create SF Workflow Record"/>

		<!-- Build Response -->
		<ee:transform doc:name="Build Workflow Response">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	workflowId: vars.workflowId,
	status: "IN_PROGRESS"
}]]></ee:set-payload>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="httpStatus"><![CDATA[201]]></ee:set-variable>
			</ee:variables>
		</ee:transform>

	</flow>

	<!-- ============================================== -->
	<!-- EXTERNAL WORKFLOW CREATION SUBFLOW            -->
	<!-- ============================================== -->

	<sub-flow name="create-external-workflow-subflow" doc:name="Create External Workflow Subflow">
		
		<!-- Set External Request Context -->
		<set-variable variableName="targetSystem" value="WORKFLOW_ENGINE" doc:name="Set Target System"/>
		<set-variable variableName="operation" value="CREATE_WORKFLOW" doc:name="Set Operation"/>
		<flow-ref name="log-external-request-subflow" doc:name="Log External Request"/>
		<flow-ref name="propagate-correlation-id-subflow" doc:name="Propagate Correlation ID"/>

		<!-- Build Workflow Engine Request -->
		<ee:transform doc:name="Build Workflow Request">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	externalWorkflowId: vars.workflowId,
	workflowType: vars.workflowType,
	referenceId: vars.referenceId,
	priority: vars.priority,
	assignedRole: vars.assignedRole,
	callbackUrl: p('http.listener.host') ++ ":" ++ p('http.listener.port') ++ p('http.listener.basePath') ++ "/internal/workflow-callback",
	metadata: {
		correlationId: vars.correlationId,
		sourceSystem: "INSURANCE_API",
		createdTimestamp: now() as String {format: "yyyy-MM-dd'T'HH:mm:ss.SSSZ"}
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>

		<!-- Call Workflow Engine API -->
		<http:request method="POST" config-ref="Workflow_HTTP_Request_Config" path="${workflow.basePath}" doc:name="Create Workflow">
			<http:headers><![CDATA[#[vars.correlationHeaders]]]></http:headers>
		</http:request>

		<!-- Store Workflow Response -->
		<set-variable variableName="workflowEngineResponse" value="#[payload]" doc:name="Store Workflow Response"/>
		<flow-ref name="log-external-response-subflow" doc:name="Log External Response"/>

	</sub-flow>

	<!-- ============================================== -->
	<!-- WORKFLOW STATE MANAGEMENT SUBFLOW             -->
	<!-- ============================================== -->

	<sub-flow name="store-workflow-state-subflow" doc:name="Store Workflow State Subflow">
		
		<!-- Build Workflow State Object -->
		<ee:transform doc:name="Build Workflow State">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	workflowId: vars.workflowId,
	workflowType: vars.workflowType,
	referenceId: vars.referenceId,
	priority: vars.priority,
	assignedRole: vars.assignedRole,
	status: "IN_PROGRESS",
	approvalDecision: null,
	approvalActor: null,
	approvalComments: null,
	docuSignEnvelopeId: null,
	docuSignStatus: null,
	createdTimestamp: now() as String {format: "yyyy-MM-dd'T'HH:mm:ss.SSSZ"},
	lastUpdatedTimestamp: now() as String {format: "yyyy-MM-dd'T'HH:mm:ss.SSSZ"},
	correlationId: vars.correlationId
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>

		<!-- Store in Object Store -->
		<os:store key="#[vars.workflowId]" objectStore="Workflow_Object_Store" doc:name="Store Workflow State">
			<os:value><![CDATA[#[payload]]]></os:value>
		</os:store>

		<!-- Update workflowState variable -->
		<set-variable variableName="workflowState" value="#[payload]" doc:name="Set Workflow State Variable"/>

	</sub-flow>

	<!-- ============================================== -->
	<!-- SALESFORCE WORKFLOW RECORD SUBFLOW            -->
	<!-- ============================================== -->

	<sub-flow name="sf-create-workflow-record-subflow" doc:name="Create SF Workflow Record Subflow">
		
		<!-- Set External Request Context -->
		<set-variable variableName="targetSystem" value="SALESFORCE" doc:name="Set Target System"/>
		<set-variable variableName="operation" value="CREATE_WORKFLOW_RECORD" doc:name="Set Operation"/>
		<flow-ref name="log-external-request-subflow" doc:name="Log External Request"/>

		<!-- Build Salesforce Record -->
		<ee:transform doc:name="Build SF Workflow Record">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
[{
	"Workflow_ID__c": vars.workflowId,
	"Workflow_Type__c": vars.workflowType,
	"Reference_ID__c": vars.referenceId,
	"Priority__c": vars.priority,
	"Assigned_Role__c": vars.assignedRole,
	"Status__c": "IN_PROGRESS",
	"Correlation_ID__c": vars.correlationId
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>

		<!-- Upsert to Salesforce -->
		<flow-ref name="sf-upsert-process-record-flow" doc:name="Upsert to Salesforce"/>

	</sub-flow>

</mule>